<h1>Gallery of Pictures</h1>
<div>
  Showing {{ currentPage }}/{{ totalPages }} page 
  <button class='btn' (click)="btnPrev()" >Previous Page</button>
  <button class='btn' (click)="btnNext()" >Next Page</button>
</div>
<div class="container">
    <img *ngFor="let image of images" 
          class="image"
          (click)="clickImage(image)"
          [src]="image.cropped_picture" 
          alt="">
</div>